/* Global Styles*/
html{
    font-family: "Vollkorn";
}

body {
    margin: 0 auto;
    line-height: 1.6;
    letter-spacing: 1px;
  
}
img{
    display: block;
    max-width: 100%;
}
*{
    box-sizing: border-box;
}
section{
    width: 80%;
    margin: auto;
}

h2{
    font-size: 2rem;
    text-align: center;
    color: darkmagenta;
}
p,
li{
    font-size: 1.25rem;
}
a{
    text-decoration: none;
    color: teal;
}
h1{
    margin-top: 0;
    margin-bottom: 0;
    text-align: center;
}